.show-comments-toggle {
    margin-bottom: 8px;
    margin-left: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: dimgray;
}

.tag-btn {
    border-radius: 2em;
    background-color: #0066ff;
    color: whitesmoke;
    margin-right: 8px;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

li {
    color: dimgray;
}

li a {
    font-weight: 300;
}
