.search {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: 20px;
    color: var(--dim-text);
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.sort-field,
.sort-order {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-top: 20px;
    margin-left: 20px;
    color: var(--dim-text);
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.search-input,
.sort-field-select,
.sort-order-select {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-top: 10px;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    font-size: 16px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.options-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.options-panel-button {
    background-color: var(--bg-color);
    color: var(--dim-text);
    border: 1px solid var(--border-color);
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.options-panel-button:hover {
    background-color: var(--tab-active-hover);
}

.options-panel-content {
    background-color: var(--bg-color);
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}

.line {
    margin-top: 10px;
    width: 100%;
}