h1 {
    font-size: 2em;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1em;
}

body {
    background-color: whitesmoke;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: rgb(25 22 126);
}

.login-button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: whitesmoke;
    background: rgb(25 22 126);
    cursor: pointer;
}

.tabs {
    display: flex;
    background-color: rgb(25 22 126);
}

.tab {
    padding: 0px 30px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid rgb(25 22 126);
}

.active {
    color: dimgray;
    background-color: whitesmoke;
}

.tab:hover {
    background-color: rgb(25, 22, 226);
}

.active:hover {
    background-color: gainsboro;
}
